@model HomeWorkCRUD.Models.ProductModel

@{
    ViewBag.Title = "Edit";
}

    <h2>Edit</h2>

<div>
    <h4>Do you want to accept these changes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="@Model.Image" />
        </dd>

    </dl>
</div>
<form action="@Url.Action("Edit", "Home")" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="@Html.DisplayFor(model => model.Name)">
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        <input type="text" class="form-control" id="image" name="image" placeholder="@Model.Image">
    </div>
    <button type="submit" class="btn btn-info">Edit</button>
</form>